/* Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* Global styles */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.heading2 {
  font-size: 40px;
  font-weight: 900;
  color: #272727;
  margin: 0;
}

.section {
  max-width: 1400px;
  padding: 0px 50px;
  margin: 0 auto;
}

.btn-primary {
  background: #e55473;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 19px 35px;
}

.margin-bottom {
  margin-bottom: 80px;
}

/* Hero section */
header {
  background: rgba(84, 203, 229, 0.26);
}

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 70px;
}

#hero-section > div {
  width: 50%;
}

.hero-info h1 {
  font-size: 80px;
  font-weight: 900;
  margin: 0;
}

.hero-info p {
  margin: 32px 0;
}

.hero-img {
  display: flex;
  justify-content: end;
}

.hero-img img {
  max-width: 500px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Featured section */
#featured-section {
  text-align: center;
}

#featured-section h2 {
  margin: 0;
}

#featured-section p {
  margin: 24px auto 48px;
  max-width: 600px;
}

.featured-flower-wrapper {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.featured-flower-wrapper > div {
  width: 33.33%;
}

.featured-flower-img {
  padding: 0 50px;
  height: 600px;
  display: flex;
  align-items: end;
  border-radius: 250px 250px 0 0;
}

.featured-flower-img img {
  max-height: 100%;
  width: 100%;
  display: inline-block;
}

.featured-flower .flower-1 {
  background: rgba(255, 0, 0, 0.4);
}

.featured-flower .flower-2 {
  background: rgba(0, 128, 0, 0.4);
}

.featured-flower .flower-2 img {
  align-self: center;
}

.featured-flower .flower-3 {
  background: rgba(0, 0, 255, 0.4);
}

.featured-flower h3 {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
}

/* Features section */
#features-section {
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  padding: 80px 0px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

#features-section .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features-section .feature img {
  max-width: 90px;
  margin-bottom: 20px;
}

#features-section .feature span {
  font-size: 24px;
  font-weight: 700;
  color: rgba(39, 39, 39, 0.8);
}

/* Deal section */
#deal-section {
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deal-section > div {
  width: 50%;
}

.deal-info {
  text-align: center;
  max-width: 600px;
}

.deal-info p {
  margin: 24px 0 32px;
}

.deal-img {
  display: flex;
  justify-content: end;
}

/* Social section */
#social-section {
  text-align: center;
}

#social-section h2 {
  margin: 0;
}

#social-section p {
  max-width: 600px;
  margin: 24px auto 50px;
}

.social-img-wrapper {
  display: flex;
  gap: 20px;
}

.social-img-wrapper img {
  width: 25%;
}

/* Newsletter section */

.newsletter-section-padding {
  background-image: url("./assets/Rectangle 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 100px;
  text-align: center;
}

.newsletter-section-padding p {
  margin: 16px 0 50px;
}

#newsletter-section form {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#newsletter-section form input[type="email"] {
  width: 700px;
  padding: 17px;
  border: none;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #111010;
  padding: 130px;
  text-align: center;
}

footer h2 {
  margin: 0;
  color: white;
  font-size: 48px;
}

footer p {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin: 24px auto 32px;
  max-width: 600px;
}

footer > span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

/* Testimonial section */
.testimonial-info {
  text-align: center;
}

.testimonial-info p {
  margin: 24px auto 40px;
}

.client-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.client-wrapper > div {
  width: 33.33%;
}

.client {
  padding: 40px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.client img {
  margin-top: -20px;
  margin-left: -15px;
}

.client p {
  margin: 30px 0;
}

.client h3 {
  margin: 0 0 5px;
  font-size: 24px;
}

.client span {
  display: inline-block;
  margin-left: 10px;
}

.client-1 {
  border-top: 10px solid blueviolet;
}

.client-2 {
  border-top: 10px solid palevioletred;
}

.client-3 {
  border-top: 10px solid yellowgreen;
}
